.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw;
    margin: auto;
    .navbar__img {
        height: 68px;
        max-height: 3vh;
    }
    .navbar__nav {
        display: flex;
        gap: 57px;
    }
        .navbar__link--active {
            text-decoration: underline;
        }
}
