// Mise en forme appliquée à la page à propos (about)
.about {
    display: flex;
    flex-direction: column;
    .navbar {
        margin-bottom: 30px;
    }
    .banner {
        margin-bottom: 30px;
    }
}