.card {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 10px;
    .card__img {
        width: 100%; 
        height: auto; 
        aspect-ratio: 1 / 1; 
        object-fit: cover;
        border-radius: 10px;
    }
    .card__tittle {
        position: absolute;
        padding-left: 20px;
        font-size: 18px;
        font-weight: 700;
    }
}

